/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#popupMessageBox {
    width: auto;
    height: auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
}

#popupMessageContent {
    width: auto;
    height: auto;
    background-color: #fefefe;
    padding: 10px;
    border: 1px solid #888;
}