.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-image: url("desktopImage.png") ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-hourglass {
  color: black;
}

.appIcon {
  border-style: solid;
  border-color: black;
  padding: 8px;
}

/*moving the icon*/

.appIcon {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

/*changing the size of the tab window*/

.modal-content {
  width: auto;
  height: 40rem;
  background-color: white;
}
.profilepic {
  position: absolute;
  width: 150px;
  height: 150px;
  left:50px;
  top:50px;
}

/* setting  */

.settingText {
  position: relative;
  top:40px;
  font-size: 20px;
}

.tab{
  padding-right: 30px;
}

.container {
  margin-top: 50px;
  padding: 5px;
  flex: auto;
}

.title1 {
  text-align: left;
  padding-top: 8px;

}



/*editing text in Break Time*/

.btnBrk {
  padding: 10px;
}

